<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>google maps</title>
  </head>
  <body>
    <div class="container" style="text-align: center; margin-top: 350px;">
      <div class="row">
        <div class="col-lg-12">
          <div class="modal fade" id="myModal">
            <div class="modal-dialog model-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1>Google Maps</h1>
                </div>
                <div class="modal-body">
                  <agm-map
                    [latitude]="lat"
                    [longitude]="lng"
                    (mapClick)="mapClick($event)"
                  >
                    <agm-marker
                      *ngIf="locationChosen"
                      [latitude]="lat"
                      [longitude]="lng"
                    ></agm-marker>
                  </agm-map>
                  Your Latitude: {{ this.lat }} <br />
                  Your langtude: {{ this.lng }}
                </div>
                <div class="modal-footer">
                  <a data-dismiss="modal" class="btn btn-danger" value="close">
                    Close
                  </a>
                </div>
              </div>
            </div>
          </div>
          <a
            href="#"
            data-toggle="modal"
            class="btn btn-primary"
            data-target="#myModal"
          >
            Open Google Maps
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
